* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;

}

:root{
    --background-d:white;
    --background-g:#c5c4c1;
    --noir:rgb(14, 9, 9);
    --blanc:white;
}
body {
    background:var(--background-d);
    font-family: "archivo", sans-serif;
    font-size: 15px;
    line-height: 1.6;
}



.cv {
    /* Largeur de 100% pour s'adapter à l'écran */
    max-width: 800px;
    background-color: var(--blanc);
    border: 4px solid var(--noir);
    display: flex;
    margin-left: 5%;

}

/* Style pour les colonnes gauche et droite du CV. */
.gauche {
    /* flex: 2; */
    background:var(--background-g);
    color: var(--blanc);
    position: relative;
    width: 350px;
}


.droite {
    /* flex: 2; */
    background-color:var(--background-d);
    color: var(--noir);
    padding: 20px;
}

/* bold style les titres principale */
.bold {
    font-weight: bold;
    font-size: 1.3em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.semi-bold {
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: bold;
}

.content_desc .desc {
    margin-left: 20px;
    width: 550px;
    text-wrap: balance;

}

.desc {
    margin-left: 80px;

}

.droite li {
    margin-left: 50px;
    margin-bottom: 10px;
    font-size: 1em;
}



/* style pour la section contact */
.box-1 {
    color: var(--noir);
    max-width: 100%;
    justify-content: center;
    margin-left: 10px;
    padding: 50px;
}

/* style pour la section de formations et langues */
.box-0 {
    margin-left: 15%;
    margin-top: 100px;
}

.box-0 li {
    margin-left: 45px;
}

.titre>p {
    text-align: center;
    font-size: 25px;
    margin-top: 0;
    position: relative;
}


/* style pour le photo de profile */
.profile-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 6px solid #c5c4c1;
    margin: 0 auto;
    /* Centre horizontalement */
    display: block;
    /* Pour s'assurer que margin: 0 auto fonctionne correctement */
}

.formation-icon2,
.formation-icon1 {
    width: 37px;
    height: 36px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    margin-right: 10px;
}

.formation-icon2 {
    border: 2px solid #c5c4c1;
    background-color:var(--noir);
}

.formation-icon1 {
    border: 2px solid var(--noir);
    background-color: rgb(236, 228, 228);
}

.desc ul {
    list-style-type: none;
    padding-left: 20px;
}

.desc ul li {
    margin-bottom: 10px;
}

/* Styles pour les éléments de forme rectangulaire */

.rectangle2 {
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.rectangle1 {
    background-color:var(--noir);
    top: 0;
    left: 0;
    border-radius: 0 0 50% 50%;
    height: 27%;

    /* Ajuster la hauteur selon vos besoins */
}

.rectangle2 {
    background-color: var(--noir);
    bottom: 0;
    left: 0;
    border-radius: 50% 50% 0 0;
    height: 40%;
    /* Ajuster la hauteur selon vos besoins */
}

/* Styles réactifs */
@media only screen and (max-width: 600px) {
    .cv {
        display: block;
        height: 140px;
    }

    .gauche {
        width: 100%;
        height: 1000px;
    }


    .rectangle1 {
        height: 310px;
    }

    .rectangle2 {
        margin-top: 0px;
        height: 400px;
    }

    .box-1 {
        z-index: 999;
        color: var(--noir);
        margin-left: 25%;
    }

    article.gauche {
        height: 700%;
    }

    .gauche,
    .droite {
        flex: 1;
        max-width: 700px;
    }
}